spring:
  application:
    name: sample-schedulelaunch
  profiles:
    active:
    - dev
    - log_default  #logging in default format
#    - log_container  #logging in json format
  main:
    web-application-type: none
# Virtual Thread                  
  threads:
    virtual:
      enabled: true
# Spring Cloud for AWS Parameter Store & Integration Secreters Manager Integration
# Default Disabled For Local Development
  cloud:
    aws:
      parameterstore:
        enabled: false

# Spring Boot Actuator
management:
  endpoints:
    access:
      default: none

# Scheduled Batch Job Definition
example:
  batch:
    schedule:
      scheduled-jobs:
        SB_001:
          job-id: job001
          params:
            param01: aaa
            param02: bbb
            input-file-name: files/input/todolist.csv
          job-request-repository: sampleBatchJobRequestRepository
# error testcase        
        SB_001e:
          job-id: job001
          params:
            param01: aaa
            param02: bbb
            input-file-name: files/input/todolist_validation_error.csv
          job-request-repository: sampleBatchJobRequestRepository
        SB_001e2:
          job-id: job001
          params:
            param01: aaa
            param02: bbb
            input-file-name: files/input/todolist_validation_error2.csv
          job-request-repository: sampleBatchJobRequestRepository
        SB_001e3:
          job-id: job001
          params:
            param01: aaa
            param02: bbb
          job-request-repository: sampleBatchJobRequestRepository
        SB_002:
          job-id: job002
          params:
            param01: aaa
            param02: bbb
            input-file-name: files/input/todolist.csv
          job-request-repository: sampleBatchJobRequestRepository
# error testcase
        SB_002e:
          job-id: job002
          params:
            param01: aaa
            param02: bbb
            input-file-name: files/input/todolist_validation_error.csv
          job-request-repository: sampleBatchJobRequestRepository
        SB_002e2:
          job-id: job002
          params:
            param01: aaa
            param02: bbb
            input-file-name: files/input/todolist_validation_error2.csv
          job-request-repository: sampleBatchJobRequestRepository
        SB_004:
          job-id: job004
          params:
            param01: aaa
          job-request-repository: sampleBatchJobRequestRepository